
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
  * {
      font-family: 'Fira Code VF', monospace;
  }
}

.base {
    display: grid;
    grid-template-columns: auto minmax(min-content, 1000px) auto;
    grid-template-rows: 5em 10em auto 5em;
    --content-width: minmax(min-content, 1000px);
    min-height: 100vh;
}

.header {
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-auto-rows: 1;
    grid-auto-columns: 2;
}

.header_title {
    grid-column: 1;
    display: grid;
    justify-content: left;
    align-content: center;
    color: var(--site-colour-highlight);
}

.header_links {
    display: grid;
    grid-column: 2;

    justify-content: right;
    align-content: center;
}
.header_links a {
    color: var(--site-colour-lowlight);
    text-decoration: none;
}
.header_links *:hover {
    color: var(--site-colour-highlight);
}

.header_links--links {
    display: none;
    align-content: center;

    grid-auto-flow: column;
    grid-auto-rows: 1;
    gap: 1em;
}
.header_links--checkbox:checked ~ .header_links--links {
    display: grid;  /* Show/hide link list */
}

.header_links--menu {
    display: grid;
    align-content: center;

    grid-auto-flow: column;
    grid-auto-rows: 1;
    gap: 1em;
}
.header_links--label img {
    height: 2em;
    width: 2em;
}
.header_links--checkbox:checked ~ .header_links--label img {
    transform: rotate(90deg);
}

/* Hide checkbox */
.header_links--label {
    grid-column: 2;
}
.header_links--checkbox {
    display: none;
}

.content {
    grid-row: 3;
    grid-column: 2;
    padding-bottom: 5em;
}

.footer {
    display: grid;
    grid-row: 4;
    grid-column: 2;
    grid-auto-columns: 2;
    border-top: 1px solid var(--site-colour-block);
}
.footer--site-links {
    display: grid;
    grid-column: 2;
    align-content: center;
    justify-content: right;
    grid-auto-flow: column;
    grid-auto-rows: 1;
    gap: 1em;
}
.footer--site-links a {
    color: var(--site-colour-lowlight);
    text-decoration: none;
}
.footer--site-links a:hover {
    color: var(--site-colour-highlight);
}

@media only screen and (max-width: 1000px) {
    .base {
        grid-template-columns: 1em auto 1em;
        font-size: 12px;
    }
}
