[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.12"

[packages]
aiofile = "~=3.9.0"
aiostream = "~=0.6.1"
beautifulsoup4 = "~=4.12.0"
httpx = {extras = ["brotli", "http2"], version = "~=0.28.0"}
jinja2 = "~=3.1.2"
markdown = "~=3.5"
pydantic = "~=2.10.1"
pydantic-settings = "~=2.6.0"
pygments = "~=2.18.0"
pymdown-extensions = "~=10.0"
pyyaml = "~=6.0"
watchdog = "~=6.0.0"

[dev-packages]
cfn-lint = "~=1.21.0"
isort = "~=5.13.2"
mypy = "~=1.0"
pytest = "~=8.3.1"
rope = "~=1.13.0"
ruff = "==0.8.2"
types-beautifulsoup4 = "~=4.12.0.5"
types-markdown = "~=3.7.0"
types-pyyaml = "~=6.0.12"
