[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
beautifulsoup4 = "~=4.11.1"
jinja2 = "~=3.1.2"
markdown = "~=3.4.1"
pydantic = "~=1.10.1"
pygments = "~=2.14.0"
pymdown-extensions = "~=9.7"
pyyaml = "~=6.0"
watchdog = "~=2.3.0"

[dev-packages]
black = "~=23.1.0"
cfn-lint = "~=0.74.0"
isort = "~=5.12.0"
mypy = "~=1.0"
pylint = "~=2.16.1"
pytest = "~=7.2.0"
rope = "~=1.7.0"
types-markdown = "~=3.4.2"
types-pyyaml = "~=6.0.12"

[requires]
python_version = "3.11"
