@supports (font-variation-settings: normal) {
    * {
        font-family: 'Fira Code VF', monospace;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

:root {
    --site-colour-bg: #1D1F21;
    --site-colour-lowlight: #CCCCCC;
    --site-colour-highlight: #FFA500;
    --site-colour-block: #282c34;
    --site-colour-border: #808080;
}

body {
    background-color: var(--site-colour-bg);
    color: var(--site-colour-lowlight);
}

.base {
    display: grid;
    grid-template-columns: auto minmax(min-content, 1000px) auto;
    grid-template-rows: 5em min-content min-content auto 5em;
    --content-width: minmax(min-content, 1000px);
    min-height: 100vh;
}

@media only screen and (max-width: 1000px) {
    .base {
        grid-template-columns: 1em auto 1em;
        font-size: 12px;
    }
}

.site_header {
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-auto-columns: 1;

    grid-template-rows: min-content 1.5em;
}

.site_header--root {
    grid-column: 1;
    display: grid;
    justify-content: left;

    color: var(--site-colour-highlight);
}

.site_header--root a {
    text-decoration: none;
    color: var(--site-colour-highlight)
}

.site_header--title {
    margin-bottom: 0.5em;
}

.nav_links {
    grid-column: 1;
    display: grid;

    grid-auto-flow: column;
    justify-content: left;
    align-items: center;

    min-height: 0;
}

.nav_links--right {
    justify-content: right;
}

.nav_links * {
    margin-right: 1em;
    margin-left: 1em;
}

.nav_links :first-child {
    margin-left: 0;
}

.nav_links :last-child {
    margin-right: 0;
}

.nav_links a {
    text-decoration: none;
    border-bottom: 1px solid var(--site-colour-lowlight);
    color: var(--site-colour-lowlight);
    margin-right: 1em;
    margin-left: 1em;
}

.nav_links a:hover {
    border-bottom: 2px solid var(--site-colour-highlight);
}

.page_header {
    grid-row: 3;
    grid-column: 2;

    display: grid;
}

.page_header--root :first-child {
    margin-top: 2em;
}

.page_header--root :last-child {
    margin-bottom: 3em;
}

.page_header--root {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    justify-content: left;
    align-content: center;
    color: var(--site-colour-highlight);
}

.footer {
    display: grid;
    grid-row: 5;
    grid-column: 2;
    grid-auto-columns: 2;
    border-top: 1px solid var(--site-colour-block);
}
