.blog_index {
    display: grid;
}

.blog_index--posts {
    display: grid;
    grid-row: 1;
}

.blog_index--post {
    display: grid;
    grid-auto-flow: row;
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 0.2em solid var(--site-colour-border);
}

.blog_index--post:first-child {
    padding-top: 0;
}

.blog_index--post:last-child {
    border: none;
}

.blog_index--post-title {
    margin-bottom: 0;
}

.blog_index--post-title a {
    color: var(--site-colour-highlight);
}

.blog_index--post-preview {
    margin-top: 1em;
    background-color: var(--bg-colour-lowlight);
    border-left: 0.2em solid var(--site-colour-border);
    padding: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: var(--site-colour-block);
}

.blog_index--post-preview p {
    margin: 0;
}

.blog_index--post-info {
    margin-top: 0.5em;
    height: 1em;

    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;

    justify-content: left;
    align-items: center;
}

.blog_index--post-info img {
    margin-right: 0.5em;
    height: 100%;
}

.blog_index--post-date {
    margin-right: 2em;
}

.blog_index--post-tags {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.blog_index--post-tags p {
    margin-right: 0.5em;
}

.blog_index--page_controls {
    display: grid;
    grid-row: 2;

    grid-auto-flow: column;
    justify-content: center;

    margin-top: 1em;
}

.blog_index--page_control:first-child {
    margin-right: 1em;
}

.blog_index--page_control:last-child {
    margin-left: 1em;
}

.blog_index--page_control a {
    color: var(--site-colour-highlight)
}

.blog_index--page_control .disabled {
    pointer-events: none;
    text-decoration: none;
    color: var(--site-colour-lowlight);
}
