.content {
    grid-row: 4;
    grid-column: 2;
    margin-bottom: 5em;
}

.content--p {
    margin-top: 1em;
}

.content--a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid var(--site-colour-lowlight);
}

.content--a:hover {
    border-bottom: 2px solid var(--site-colour-highlight);
}

.content--:first-child {
    margin-top: 0;
}

/* Headings */
.content--h1,
.content--h2,
.content--h3,
.content--h4,
.content--h5,
.content--h6 {
    line-height: 1.2;
    margin: 2em 0 1em 0;
    font-size: 1.5em;
    font-weight: bold;
}

.content--h1::before,
.content--h2::before,
.content--h3::before,
.content--h4::before,
.content--h5::before,
.content--h6::before {
    content: "# ";
    color: var(--site-colour-highlight)
}

.content--h1 a,
.content--h2 a,
.content--h3 a,
.content--h4 a,
.content--h5 a,
.content--h6 a {
    /* No link styling in H* elements */
    color: inherit;
    text-decoration: none;
}

/* List alignment */
.content--ol,
.content--ul {
    margin-top: 1em;
    margin-left: 2em;
}

.content--li {
    margin-top: 0.5em;
}

/* Horizontal rule */
.content--hr {
    border-style: solid;
    margin: 0.5em auto;
}

/* Emoji */
.content--.gemoji {
    width: 1em;
    height: 1em;
}

/* Indented containers (code block/quote etc) */
.content--blockquote {
    margin: .25em 1em;
    background-color: var(--bg-colour-lowlight);
}

.content--blockquote {
    border-left: 0.2em solid var(--site-colour-border);
    padding: 0.5em;
    background-color: var(--site-colour-block);
}

.content--blockquote p {
    margin: 0;
}

/* Tables */
.content--table {
    margin: 0.5em auto;
}

.content--th,
.content--td {
    border: solid 1px;
    padding: 0.25em;
}

.content--table,
.content--td,
.content--th {
    border-collapse: collapse;
}

/* Code blocks */
.content .codehilite,
.content code {
    background-color: var(--site-colour-block);
    color: var(--site-colour-highlight);
}

.content .codehilite {
    margin: 1em 0;
    padding: 1em;

    border: dotted 1px var(--site-colour-lowlight);
    border-radius: 0.5em;
    background-color: var(--site-colour-block);
}

.content .codehilite pre {
    white-space: pre-wrap;
}
