{# https://jinja.palletsprojects.com/en/3.1.x/templates/ #}
{% import "components/title.html" as title %}

<!DOCTYPE html>
<html lang="en-au">

<head>
    {% block head %}
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ ctx.frontmatter.og.description }}">
    <meta name="color-scheme" content="dark light">

    <meta name="x-rendered-at" content="{{ ctx.rendered_at.isoformat() }}">
    <meta name="x-modified-at" content="{{ ctx.modified_at.isoformat() }}">
    <meta name="x-sha" content="{{ ctx.git_sha }}">

    {% block opengraph %}
    {% if ctx.frontmatter.og.title %}
    <meta property="og:title" content="{{ ctx.frontmatter.og.title }}">
    {% endif %}

    {% if ctx.frontmatter.og.image %}
    <meta property="og:image" content="{{ ctx.frontmatter.og.image }}">
    {% endif %}

    {% if ctx.frontmatter.og.description %}
    <meta property="og:description" content="{{ ctx.frontmatter.og.description }}">
    {% endif %}

    <meta property="og:type" content="{{ ctx.frontmatter.og.type }}">
    <meta property="og:url" content="{{ ctx.frontmatter.og.url }}">
    <meta property="og:locale" content="{{ ctx.frontmatter.og.locale }}">
    <meta property="og:site_name" content="{{ ctx.frontmatter.og.site_name }}">
    {% endblock opengraph %}

    {% block stylesheets %}
    <link rel="preload" as="style" type="text/css" href="/font/fira_code.css">
    <link rel="stylesheet" type="text/css" href="/css/base_site_layout.css">
    <link rel="stylesheet" type="text/css" href="/css/markdown_formatting.css">
    <link rel="stylesheet" type="text/css" href="/css/code_highlighting.css">

    {{ title.stylesheets() }}
    {% endblock stylesheets %}

    <title>{{ ctx.frontmatter.title }}</title>
    {% endblock head %}
</head>

<body>
    {% block body %}
    <div class="base">

        <div class="site_header">
            {% block site_header %}
            <a class="site_header--title" href="/">
                <h1 class="site_header--title">rileychase&lt;dot&gt;net</h1>
            </a>
            <div class="nav_links">
                <a href="/">Home</a>
                {# <a href="/blog">Blog</a> #}
                <span>|</span>
                <a href="https://github.com/nadock" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/riley-taylor-chase/" target="_blank">LinkedIn</a>
                <a href="https://bsky.app/profile/rileychase.net" target="_blank">Bluesky</a>
            </div>
            {% endblock site_header %}
        </div>

        <div class="page_header">
            {% block page_header %}
            {{
            title.title(title=ctx.frontmatter.title,subtitle=ctx.frontmatter.subtitle,path=ctx.frontmatter.get_page_path())
            }}
            {% endblock page_header %}
        </div>

        <div class="content">
            {% block content %}
            {% autoescape false %}
            {{ ctx.content|render }}
            {% endautoescape %}
            {% endblock content %}
        </div>

        <div class="footer">
            {% block footer %}
            <div class="nav_links nav_links--right">
                <p>
                    <span title="Rendered {{ ctx.rendered_at.strftime('%Y-%m-%d at %H:%M:%S %Z') }}">
                        {{ ctx.rendered_at.year }}
                    </span>
                    <span title="{{ ctx.git_sha[:7] }}">—</span>
                    Riley Chase
                    &lt;@Nadock&gt;
                </p>
                <span>|</span>
                <a href="/license">LICENSE</a>
                <a href="/privacy">PRIVACY</a>
            </div>
            {% endblock footer %}
        </div>

    </div>
    {% endblock body %}
</body>

</html>
