{% extends "default.html" %}

{% import "components/title.html" as title %}

{% block stylesheets %}
{{ super() }}
{{ title.stylesheets() }}
<link rel="stylesheet" type="text/css" href="/css/blog_index.css">
{% endblock stylesheets %}

{% block content %}

<div class="blog_index--posts">
    {% for post in ctx.posts %}
    {{ title.title(title=post.frontmatter.title, subtitle=post.frontmatter.subtitle, date=post.frontmatter.date,
    tags=post.frontmatter.tags, path=post.frontmatter.get_page_path()) }}
    {% endfor %}
</div>

<div class="blog_index--page_controls">
    <div class="blog_index--page_control">
        {% if ctx.current_page == 1 %}
        <a class="disabled">&lt;</a>
        {% elif ctx.current_page == 2 %}
        <a href="/blog">&lt;</a>
        {% else %}
        <a href="/blog/_/{{ ctx.current_page - 1}}/">&lt;</a>
        {% endif %}
    </div>

    <div class="blog_index--page_control">
        <span>{{ ctx.current_page }}</span>
    </div>

    <div class="blog_index--page_control">
        {% if ctx.current_page == 1 %}
        <a class="disabled">&gt;</a>
        {% else %}
        <a href="/blog/_/{{ ctx.current_page + 1}}/">&gt;</a>
        {% endif %}
    </div>
</div>

{% endblock content %}
