{% extends "default.html" %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/css/blog_index.css">
{% endblock stylesheets %}

{% block content %}

<div class=".blog_index--posts">
    {% for post in blog.posts %}
    <div class="blog_index--post">
        <div class="blog_index--post-title">
            <h2><a href="{{ post.path }}">{{ post.title }}</a></h2>
        </div>

        <div class="blog_index--post-subtitle">
            <p><em>{{ post.subtitle }}</em></p>
        </div>

        <div class="blog_index--post-info">
            <img src="/img/calendar.svg">
            <p class="blog_index--post-date">{{ post.date }}</p>

            {% if post.tags %}
            <img src="/img/tag.svg">

            <div class="blog_index--post-tags">
                {% for tag in post.tags %}
                <p>{{ tag }}</p>
                {% if not loop.last %}<p> <strong>·</strong> </p>{% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="blog_index--post-preview">
            <blockquote>{{ post.preview }}</blockquote>
        </div>
    </div>
    {% endfor %}
</div>

<div class="blog_index--page_controls">
    <div class="blog_index--page_control">
        <a {% if blog.current_page==1 %} class="disabled" {% endif %} {% if blog.current_page==2 %} href="/blog" {% else
            %} href="/blog/_/{{ blog.current_page - 1}}/" {% endif %}>&lt;</a>
    </div>

    <div class="blog_index--page_control">
        <span>{{ blog.current_page }}</span>
    </div>

    <div class="blog_index--page_control">
        <a {% if blog.current_page==blog.page_count %} class="disabled" {% endif %}
            href="/blog/_/{{ blog.current_page + 1}}/">&gt;</a>
    </div>
</div>

{% endblock content %}
