<!DOCTYPE html>
<html lang="en-au">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta.description }}">

    <link rel="stylesheet" type="text/css" href="/css/base_site_layout.css">
    <link rel="stylesheet" type="text/css" href="/css/markdown_formatting.css">
    <link rel="stylesheet" type="text/css" href="/css/code_highlighting.css">

    <title>{{ props.title }}</title>
</head>


<body>
    <div class="base">
        <div class="header">
            <div class="header_title">
                <h1>{{ props.title }}</h1>
                <h3>{{ props.subtitle }}</h3>
                <em>{{ props.date }}</em>
            </div>
            <div class="header_links">
                <div class="header_links--menu">
                    <input type="checkbox" id="header_links--checkbox" class="header_links--checkbox">
                    <label for="header_links--checkbox" class="header_links--label">
                        <img src="/img/menu.svg" alt="Menu">
                    </label>

                    <div class="header_links--links">
                        <a class="header_links--link" href="/">Home</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            {{ content }}
        </div>
        <div class="footer">
            <div class="footer--site-links">
                <a class="header_links--link" href="/">Home</a>
                <a class="header_links--link" href="/Licenses">Licenses</a>
            </div>
        </div>
    </div>
</body>

</html>
