name: Deploy Website


on:
  push:
    branches:
      - main
    paths:
      - aws/**
      - pages/**
      - static/**
      - templates/**
  workflow_dispatch: {}


jobs:
  deploy_website:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      deployments: write
    environment:
      name: production
      url: https://rileychase.net
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Setup go-task/task
        uses: arduino/setup-task@v2
        with:
          version: 3.x

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_OIDC_ROLE_ARN }}
          aws-region: ap-southeast-2

      - name: Build website
        run: |
          task --output group \
               --output-group-begin "::group::{{.TASK}}{{if .NAME}}:{{.NAME}}{{end}}" \
               --output-group-end "::endgroup::" \
               build validate:links

      - name: Deploy website & invalidate Cache
        env:
          BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
          DISTRIBUTION_ID: ${{ secrets.DISTRIBUTION_ID }}
        run: task deploy
